@font-face {
    font-family: 'Eugusto';
    src: url('Eugusto Free Font.otf') format('opentype');
    }

    @font-face {
    font-family: 'Gazpacho';
    src: url('Gazpacho Medium.ttf') format('truetype');
    }
    @font-face {
    font-family: 'Rounded';
    src: url('Arial Rounded MT Regular.ttf') format('truetype');
    }
    

    :root {
        --lavender-color: #EBD3F7;
        --sunbeam-color: #FCEAC6;
        --meadow-color: #CBE5C0;
        --peach-color: #F6BCAE;
        --aqua-color: #CDEBF3;
        --mist-color: #cfdbde;
      }

    body {
        margin: 0;
        padding: 0;
        background-color: #0b1215;
        font-family: "EB Garamond", sans-serif;
        color: #565656;
    }

.body-parallel{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
}

.options{
    position: absolute;
    width: 20rem;
    background-color: #ffffff;
    height: 35rem;
    right: 0;
    margin-top: 4rem;
    margin-right: 2rem;
    border-radius: 1rem;
    border: #3c3c3c 0.2rem solid;
    pointer-events: none; /* Initially not clickable */
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.options.show {
    opacity: 1; /* Show the options */
    pointer-events: auto; /* Make clickable */
}

.options-container{
    display: flex;
    flex-direction: column;
}

.options-title{
    font-size: 1.3rem;
    color: #565656;
    font-family: 'EB Garamond';
    margin-left: 2rem;
    margin-top: 3rem;
}

.format-toggle{
    display: flex;
    font-size: 1rem;
    text-align: center;
    place-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.list-item{
    margin-left: 2rem;
    font-size: 1rem;
}

/* The switch - the box around the slider */
.switch {
    font-size: 0.5rem;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1em;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 2px solid #565656;
    transition: .4s;
    border-radius: 1px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.2em;
    border-radius: 2px;
    left: 0.2em;
    bottom: 0.3em;
    background-color: #fff;
    border: 2px solid #000000;
    transition: 0.5s;
   }
   
   input:checked + .slider {
    background-color: #000;
    border-color: #000;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.3em);
   }

hr{
    height: 1px;
    width: 16rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgb(192, 192, 192);
    color: #d2d2d2;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2px;
}
.current{
    margin-left: 2rem;
    display: flex;
    gap: 0.2rem;
}
.themes-container{
    display: flex;
    flex-direction: column;
    margin:0rem 2rem 2rem 2rem;
    width:16rem;
    height: 6rem;
    border: 1px solid #0b1215;
    border-radius: 0.5rem;
    align-items: center;
    gap:0.5rem;
}
.themes-header{
    margin-bottom: -0.5rem;
}
.wrapper-row{
    padding-top: 0.5rem;
    display:flex;
    justify-content: space-between;
    width:8rem;
    margin-bottom: 0.5rem;
}
.wrapper{
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
}
.theme{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: #707070 solid  0.1rem;
    display: block;
    cursor: pointer;
}
.light-mode-toggler{
    display: flex;
    font-size: 1rem;
    text-align: center;
    place-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

/*themes */

#lavender{
    background-color: var(--lavender-color);
}
 #mist{
    background-color: var(--mist-color);
 }
#sunbeam{
    background-color: var(--sunbeam-color);
}
#meadow{
    background-color: var(--meadow-color);
}
#aqua{
    background-color:  var(--aqua-color);
}
#peach{
    background-color: var(--peach-color);
}
.lavender {
    color: var(--lavender-color);
  }
  
  .sunbeam {
    color: var(--sunbeam-color);
  }
  
  .meadow {
    color: var(--meadow-color);
  }
  .peach{
    color: var(--peach-color);
  }
  .aqua{
    color: var(--aqua-color);
  }
  

  .is-selected {
    box-shadow: 0 0 0 0.2rem rgba(49, 46, 46, 0.503);
    border: 0.2rem solid  rgb(255, 255, 255);
  }
  /* Define styles for other theme classes */

  /* Remove background-color styles for light mode */
.light-mode #clock,
.light-mode #date,
.light-mode #shortcuts{
    color: #3B3B3B; /* Set text color for clock, date, addShortcutBtn, and shortcuts sections */
}

.light-mode #shortcuts, .light-mode #addShortcutBtn {
    background-color: #F0F0F0; /* Set background color for shortcuts section in light mode */
}



    #clock {
        font-size: 5rem;
        font-family: 'Eugusto';
        font-weight: 700;
        letter-spacing: 0.25rem;
        transition: 0.5s ease;
        color: #af93d0;
    }

    #date {
        font-size: 1.5rem;
        font-family: 'Gazpacho';
        font-weight: 500;
        transition: 0.5s ease;
        color: #6b6177;
    }

.settings-icon{
    width:2rem;
    color:white;

}

.color-icon{
    width:2rem;
    color:white;
}

#settings-button{
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s ease;
    position: absolute;
    right: 0;
    margin: 2rem;
}

.settings-icon:hover{
    color: #af93d0;
}

    .msg{
        color: #757575;
        font-family: 'Rounded';
        font-weight: 200;
        font-size: 1.5rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: gazpacho;
        font-weight: 700;
        gap:1rem;
    }

.clockDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

#shortcuts{
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    font-family: 'Rounded';
    gap: 1rem;
    transition: 0.5s ease;
}

#shortcutUrl{
    background-color: #2f2e30;
    border-style: none;
    padding: 0.8rem;
    border-radius: 1rem;
    color: #a495b6;
    text-decoration: none;
}

#addShortcutBtn{
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border-style: none;
    color: rgb(39, 39, 39);
    border: #343434 solid 1px;
}

.link{
    text-decoration: none;
    color: #ffffff;
}

.delete-btn{
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    border-style: none;
    padding: 0.4rem;
    background-color: #ffffff;
}
.delete-icon{
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;

}

.btn-icon{
    width: 0.7rem;
    height: 0.7rem;
    color: #2d2d2d;
    text-align: center;
    
}

.shortcut{
    background-color: #2f2e30;
    border-style: none;
    padding: 0.8rem;
    border-radius: 1rem;
    color: #a495b6;
    text-decoration: none;
    transition: 1s ease;
}

.shortcut-section{
display:flex;
flex-direction: column;
align-items: center;
gap: 1rem;
}

.hidden{
    display: none;
    transition: 1s ease;
}

.no-shortcuts{
    color: #47424e;
    font-size: 1rem;
}

.animated {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
.animated.hidden {
    opacity: 0;
    transform: translateY(-20px);
  }

/* Add styles for light mode */
.light-mode #clock,
.light-mode #date {
    color: #343434 !important; /* Set text color for clock and date */
}

.light-mode #shortcuts,
.light-mode #addShortcutBtn {
    background-color: #F0F0F0; /* Set background color for shortcuts section and addShortcutBtn */
}
