@font-face {
    font-family: 'Eugusto';
    src: url('/Typefaces/Eugusto Free Font.otf') format('opentype');
    }

    @font-face {
        font-family: 'Monas';
        src: url('/Typefaces/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
        }

    @font-face {
    font-family: 'Gazpacho';
    src: url('/Typefaces/Gazpacho\ Medium.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Rounded';
    src: url('/Typefaces/Arial\ Rounded\ MT\ Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Adventuro';
        src: url('/Typefaces/Augillion\ DEMO.otf') format('opentype');
        }

        @font-face {
            font-family: 'EB';
            src: url('/Typefaces/EBGaramond-VariableFont_wght.ttf') format('truetype');
            }
    


    :root {
        --lavender-color: #E5D4F4;
        --sunbeam-color: #FCEAC6;
        --meadow-color: #c2d6b1;
        --pearl-color: #F9DCD8;
        --aqua-color: #a3cfd6;
        --mist-color: #dedede;
      }

    body {
        margin: 0;
        padding: 0;
        background-color: #1f1f1f;
        font-family: "EB", sans-serif;
        color: #565656;
    }

.body-parallel{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
}

.options{
    position: absolute;
    width: 20rem;
    background-color: #ffffff;
    height: 35rem;
    right: 0;
    margin-top: 5rem;
    margin-right: 2rem;
    border-radius: 1rem;
    border: #3c3c3c 0.15rem solid;
    pointer-events: none; /* Initially not clickable */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 999;

}

.options.show {
    opacity: 1; /* Show the options */
    pointer-events: auto; /* Make clickable */
}

.options-container{
    display: flex;
    flex-direction: column;
}

.options-title{
    font-size: 1.3rem;
    color: #565656;
    font-family: 'EB Garamond';
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.format-toggle{
    display: flex;
    font-size: 1rem;
    text-align: center;
    place-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.list-item{
    margin-left: 2rem;
    font-size: 1rem;
}

/* The switch - the box around the slider */
.switch {
    font-size: 0.5rem;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1em;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 2px solid #565656;
    transition: .4s;
    border-radius: 1px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.2em;
    border-radius: 2px;
    left: 0.2em;
    bottom: 0.3em;
    background-color: #fff;
    border: 2px solid #000000;
    transition: 0.5s;
   }
   
   input:checked + .slider {
    background-color: #000;
    border-color: #000;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.3em);
   }

hr{
    height: 1px;
    width: 16rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgb(192, 192, 192);
    color: #d2d2d2;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2px;
}
.current{
    margin-left: 2rem;
    display: flex;
    gap: 0.2rem;
}
.themes-container{
    display: flex;
    flex-direction: column;
    margin:0rem 2rem 1rem 2rem;
    width:16rem;
    height: 6rem;
    border: 1px solid #0b1215;
    border-radius: 0.5rem;
    align-items: center;
    gap:0.5rem;
}
.themes-header{
    margin-bottom: -0.5rem;
}
.wrapper-row{
    padding-top: 0.5rem;
    display:flex;
    justify-content: space-between;
    width:8rem;
    margin-bottom: 0.5rem;
}
.wrapper{
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
}
.theme{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: #707070 solid  0.1rem;
    display: block;
    cursor: pointer;
}
.light-mode-toggler{
    display: flex;
    font-size: 1rem;
    text-align: center;
    place-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

/*themes */

#lavender{
    background-color: var(--lavender-color);
}
 #mist{
    background-color: var(--mist-color);
 }
#sunbeam{
    background-color: var(--sunbeam-color);
}
#meadow{
    background-color: var(--meadow-color);
}
#aqua{
    background-color:  var(--aqua-color);
}
#pearl{
    background-color: var(--pearl-color);
}

.lavender {
    color: var(--lavender-color);
  }
  
  .sunbeam {
    color: var(--sunbeam-color);
  }
  
  .meadow {
    color: var(--meadow-color);
  }
  .pearl{
    color: var(--pearl-color);
  }
  .aqua{
    color: var(--aqua-color);
  }
  

  .is-selected {
    box-shadow: 0 0 0 0.2rem rgba(49, 46, 46, 0.503);
    border: 0.2rem solid  rgb(255, 255, 255);
  }
  /* Define styles for other theme classes */

  /* Remove background-color styles for light mode */




    #clock {
        font-size: 4.5rem;
        font-family: 'Eugusto';
        font-weight: 700;
        letter-spacing: 0.25rem;
        transition: 0.5s ease;
    }

    #date {
        font-size: 1.6rem;
        font-family: 'Gazpacho';
        font-weight: 500;
        transition: 0.5s ease;
    }

.settings-icon{
    width:2rem;
    color:white;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.settings-icon:hover{
    box-shadow: 0 0 0.5rem 0.5rem rgba(193, 188, 202, 0.759);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.color-icon{
    width:2rem;
    color:white;
}

#settings-button{
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s ease;
    position: absolute;
    right: 0;
    margin: 2rem;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}



    .msg{
        color: #757575;
        font-family: 'Rounded';
        font-weight: 300;
        font-size: 1.5rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: gazpacho;
        font-weight: 700;
        gap:1rem;
    }

.clockDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

#shortcuts{
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    font-family: 'Rounded';
    gap: 1rem;
}

#shortcutUrl{
    background-color: #2f2e30;
    border-style: none;
    padding: 0.8rem;
    border-radius: 1rem;
    color: #a495b6;
    text-decoration: none;
}

#addShortcutBtn{
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border-style: none;
    color: rgb(39, 39, 39);
    border: #343434 solid 1px;
}

.link{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.delete-btn {
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    background-color: #ffffff;
    width: fit-content; /* Set the width to auto */
    height: auto; /* Set the height to auto */
    display: flex; /* Ensure proper alignment of the icon */
    align-items: center; /* Align the icon vertically */
    position: absolute;
    margin-top:5rem;
    z-index: 0;
    border: #ff5f5f 1px solid;
}

.delete-icon {
    width: 1rem; /* Set the width of the icon */
    height: 1rem; /* Set the height of the icon */
    background-color: #ffffff;
}


.btn-icon{
    width: 0.7rem;
    height: 0.7rem;
    color: #2d2d2d;
    text-align: center;
    
}

.shortcut{
    background-color: #343434;
    border-style: none;
    padding: 1rem;
    border-radius: 50%;
    color: #a495b6;
    text-decoration: none;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    overflow-y: scroll;

}

.shortcut-text{
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    color: #FFFBE8;
}

.shortcut-sub{
    font-size: 0.5rem;
    margin-top: 3rem;
    position: absolute;
    color: #FFFBE8;
}

.link{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}

.shortcut:hover{
    background: radial-gradient(circle, rgba(52,52,52,1) 47%, rgba(180,180,180,1) 100%);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.shortcut-section{
display:flex;
flex-direction: column;
align-items: center;
gap: 1rem;
}

.hidden{
    display: none;
}

.no-shortcuts{
    color: #47424e;
    font-size: 1rem;
}

.animated {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
.animated.hidden {
    opacity: 0;
    transform: translateY(-20px);
  }

/* Add styles for light mode */
.light-mode #clock,
.light-mode #date {
    color: #343434 !important; /* Set text color for clock and date */
}

.light-mode #shortcuts,
.light-mode #addShortcutBtn {
    background-color: #F0F0F0; /* Set background color for shortcuts section and addShortcutBtn */
}

.font-select{
    margin-left: 2rem;
}
.font-wrapper-title{
    font-size: 1rem;
}

.fonts-wrapper {
    --font-color-dark: #323232;
    --font-color-light: #FFF;
    --bg-color: #fff;
    --main-color: #6e6e6e;
    position: relative;
    width: 16rem;
    height: 36px;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius:1rem;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px var(--main-color);
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .option {
    width: 80.5px;
    height: 28px;
    position: relative;
    top: 2px;
    left: 2px;
  }
  
  .input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
  }
  
  .btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .span {
    color: var(--font-color-dark);
  }
  
  .input:checked + .btn {
    background-color: var(--main-color);
  }
  
  .input:checked + .btn .span {
    color: var(--font-color-light);
  }

#groovy{
    font-family: 'Eugusto';
}
#bright{
    font-family: 'Adventuro';
}
#subtle{
    font-family: 'Monas';
}

.fun{
    margin:0 2rem 0 2rem ;
}

.shortcut-icon{
    width: 3.2rem;
    height: 3.2rem;
}
.about-title{
    font-size: 1rem;
    margin-bottom: 0rem;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'EB';
    font-weight: 600;
    padding: 0;
    margin-top: 0;
}

a{
    text-decoration: none;
}

.my-links{
    color: #666666;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.support{
    color: #666666;
    display: flex;
    align-items: center;
    text-decoration: underline;
}


.external-link{
    width: 1rem;
    height: 1rem;
    color: #686868;
    fill: #414141;
}

.report{
    display: flex;
    gap: 0.5rem;
    text-decoration: underline;
    color: #989898;
    margin-bottom: 2rem;
}
